<div id="header">
  <ul>
    <li><a class="active" href="/puzzle">Puzzle</a></li>
    <li><a href="/leaderboard">Leaderboard</a></li>
    <li style="float:right"><a href="/register">Register</a></li>
    <li style="float:right"><a href="/login">Login</a></li>
  </ul>
</div>