<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('header') %>

    <div id ="canvasdiv" style ="width:100; height:100; overflow:scroll">
      <canvas id="myCanvas"></canvas>
    </div>

  </body>
</html>