<html>
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('header') %>

    <!-- loading vignette, initially hidden -->
     <div id="loader"> 
      <p>We couldn't keep up with your lightning-fast thinking!<br> Please wait a moment as we process the next puzzle ...</p>
       <div id ="loaderImage"></div>
    </div>

  </div>


    <div id="finishPuzzleMenuItems" >
      <h2>INFINITE JIGSAW EXPANSION</h2>
      <hr>
      <p class= "textRegular">
      Well Done! You have completed the puzzle!
      </p>
      <hr>
      <br>
      <div id = "prevPromptDescript" class = "textBold">
          You have chosen the subject of your next puzzle to be: <b>CATS</b> 
      </div>
     
      <div class = "userInput">
        <br>
        <div id = "prevPromptDescript" class = "textBold">
          Select the edge from which you want to expand your NEXT puzzle 
        </div>
        <br>
        <div>
          <label for="orientation">Edge: </label>
          <select class="orientation">
              <option value="NULL">Select edge...</option>
              <option value="LEFT">Left</option>
              <option value="RIGHT">Right</option>
              <option value="TOP">Top</option>
              <option value="BOTTOM">Bottom</option>
          </select>
        </div>
        <br>
        <hr>
        <br>
          <div class = "controls" >
            <div id = "nextPromptDescript" class = "textBold">
              Enter the PROMPT for the <b>FOLLOWING</b> PUZZLE
            </div>
            <div>
              <label id= "labelPrompt" for="textPrompt">NEXT Prompt: </label>
              <input type="text" id="textPrompt" placeholder="Enter prompt here...">
            </div>
              <br>
              <hr>
              <button id = "expand_button">Expand</button>
              <button id = "exportPuzzle_Button">Export Puzzle</button>
              <button id="end_session"  onclick="window.location.href='/leaderboard';">End Session</button>
            </div>
        </div>
        <br>
        <br>
    </div>

    <div id ="puzzleContainer">
      <canvas id="myCanvas"></canvas>
    </div>

    <script type = "module" src="/javascripts/jigsaw.js"></script>
    <script type = "module" src="/javascripts/jigsaw_expansion.js"></script>
  </body>
</html>
