body{
    margin:0;
    overflow: hidden ;
}

#myCanvas{
    display: block; 
}

div#puzzleContainer{
  
    height:100vh;
    width:100vw;
    overflow: auto;    
}

#finishPuzzleMenuItems{
    position: absolute; 
    top: 10%;
    left: 50%;
    text-align: center;
    vertical-align: middle;
    display: none;
}


#header{
    z-index: 10;
    position: relative;
    background-color: #F8F6F4;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    vertical-align:middle;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#header li {
    float: left;
}

#header li a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-style: normal;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header li a:hover {
    background-color: #111;
}

#header button:hover{
    background-color: #D2E9E9;
}

#header button:active{
    background-color: #C4DFDF;
}