body{
    margin:0;
    overflow: hidden ;
}

#myCanvas{
    display: block; 
}

div#puzzleContainer{
    border:#111; 
    height:100vh;
    width:100vw;
    overflow: auto;
    cursor: default;
    
}

#finishPuzzleMenuItems{
    position: absolute;
    width: 400px;
    height:450px; 
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background-color: rgba(51, 51, 51, 0.8);
    vertical-align: middle;
    border: rgba(0, 0, 0, 0.6) solid;
    border-width: 10px;
    border-radius: 2dvh;
    display:none;
    
}

#welcomePage{
    position: absolute;
    width: 50%;
    height:80%; 
    top: 70%;
    left: 50%;
    transform:translate(-50%, -70%);
    background: linear-gradient(0deg, rgb(168, 168, 168), rgb(75, 74, 74));
    vertical-align: middle;
    border: rgba(0, 0, 0, 1) solid;
    border-width: 10px;
    border-radius: 2dvh;
    display:inline-block;
    border-style:ridge;
    box-shadow: 2px 2px 5px black;
    overflow:auto; 
    
}

#finishPuzzleMenuItems h2{

    text-align: center;
    color:white; 
    font-family: 'Century Gothic', sans-serif;
    font-weight: 550;


}

#welcomePage h1{
    text-align: center;
    color:white; 
    font-family: 'Century Gothic', sans-serif;
    font-weight: 550;
    font-size:25;
}

@media(min-width: 1800px){ /*Edits the display for larger monitor screens*/

    #welcomePage h1{
        font-size: 35;
    }
    
    #textListFont{
        font-size:14;
    }
    
    .welcomeItem{
        margin-bottom: 5%;
        display: flex;
        flex-direction: row;
        align-items: center;

    }
    
    #textFirstPrompt{
        height:8dvh;
        font-size: medium;
    }

    #difficulty{
        height:8dvh;
        font-size: medium;
    }

    
    #imageSubject{
        height:8dvh;
        font-size: medium;
    }

    #GO{
        margin-top: 2%;
        height:10dvh;
        width:10dvw;
    }

}

@media(max-width: 1200px){ /*Edits the display for regular 15" laptop screens*/
    #welcomePage h1{
        font-size: 25;
    }

    #textFirstPrompt{
        font-size: x-small;
    }

    #difficulty{
        font-size: x-small;
    }

    #imageSubject{
        font-size: x-small;
    }

    .welcomeItem{
        margin-bottom: 3%;
        display: flex;
        flex-direction: row;
        align-items: center;


    } 

    #labelDifficult{
        margin-right: 8px;
    }

    #GO{
        margin-bottom: 5%;
    }

}
 
@media(min-height: 600px){ /*Edits the display for restore down window screens*/
 
    .welcomeItem{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 2%;
    
    }

    label{
        margin-right: 10px;
    }

    #labelDifficult{
        margin-right: 15px;
    }

}

@media(max-width: 767px){ /*Edits the display for PHONE*/

    label{
        font-size: small;
    }
    #welcomePage{
        width:70%;
    }

    #header li a {
        font-size: small;
    }

    #labelDifficult{
        margin-right: 8px;
    }

}

@media(max-width: 820px){ /*Edits the display for IPAD AIR*/
    #welcomePage{
        width:70%;
        height:auto;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        
    }


    #header li a {
        font-size: small;
    }
}


.textRegular { /*The regular text font in the welcome page dialog*/

    text-align: center;
    color:white; 
    font-family: 'Century Gothic', Helvetica, sans-serif;
    font-weight: lighter;
    font-size: small;
    padding-left: 1dvw;
    padding-right: 1dvw;


}

.textList { /*The list of instructions in the welcome page dialog*/

    text-align: left;
    color:white; 
    font-family: 'Century Gothic', Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 12;

}


.textList li::marker{ /*The list of instructions in the welcome page dialog*/
    font-size: 110%;
    background-color: rgb(0,200,200);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

#finishPuzzleMenuItems hr{
    width: 75%;
}

#welcomePage hr{
    width:75%;
}


.controls{ /*The controls of the completed puzzle dialog*/
    margin-top: 10%;
    transform: translate(0%, -10%);
    height: auto;
    text-align: center;
    position: relative;
    align-items: center;
    display: inline-block;

}

.userInput{ /*The user input container of the welcome page dialog*/
    height: auto;
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;

}


.controls #expand_button,
#exportPuzzle_Button,
#GO,
.controls #end_session {
    padding: 8px 32px;
    color: #333333;
    border-radius: 5px;
    font-family: 'Century Gothic', Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold ;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
}

.controls #expand_button,
#exportPuzzle_Button {
    margin-right: 7px;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
}

#GO {
    background-color: #6dc580;
    border: 1px solid #4d9c35;
}

.controls #end_session {
    margin-top: 7px;
    margin-left: 7px;
    background-color: #eb9090;
    border: 1px solid #7e1111;
}


 #end_session:hover, #expand_button:hover, #GO:hover, #exportPuzzle_Button:hover {  /*The button hover of the completed puzzle dialog*/
    background-color: lightslategray;
    color: white;
    border: 1px solid #dddddd;
}



label { 
    font-family: 'Century Gothic', Helvetica, sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: white;
    padding-right: 10px;
    font-size: 14;
    max-width: 80px;
    word-wrap: break-word;
    display: inline-block;


}

#labelPrompt{ /*Edits the prompt label of the completed puzzle dialog*/
    max-width: 200px;
    word-wrap: normal;
    margin-right: 2px;

}


#promptContainer{
    margin-left: 15px;
}

#labelDifficult{
    padding: 5px; 
    background-color: rgba(255, 7, 7, 0.4);
    border-radius: 5px;
}
#textPrompt,
#textFirstPrompt,
#imageSubject,
#difficulty {
    color: #333333;
    font-family: 'Century Gothic', Helvetica, sans-serif;
    font-style: normal;
    padding: 8px 12px;
}

#textPrompt,
#textFirstPrompt {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgb(90, 90, 90);
    font-weight: light;
    padding-left: 10px;
    padding-right: 30px;
}

#textPrompt {
    margin-top: 2vh;
}

#textFirstPrompt {
    width: 25vw;
}

#imageSubject,
#difficulty {
    background-color: #eeeeee;
    border: 3px solid rgba(117, 117, 117, 0.486);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    width: 25vw;
}


.orientation{
    padding: 8px 12px; 
    color: #333333;
    background-color: #eeeeee;
    border: 3px solid rgba(117, 117, 117, 0.486);
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Century Gothic', Helvetica, sans-serif;
    text-decoration: none;
    font-style: normal;
    

}


select option:first-of-type{
    display: none;
}


#header{
    z-index: 10;
    position: relative;
    background-color: #F8F6F4;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    vertical-align:middle;
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#header li {
    float: left;
}

#header li a {
    font-family: 'Century Gothic', Helvetica, sans-serif;
    text-decoration: none;
    font-style: normal;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#score{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    display:none;
   
}

#innerScoreContainer{
    display: flex; 
    justify-content: center;
}

#innerScoreContainer h3{
    font-family: 'Century Gothic', Helvetica, sans-serif;
    text-decoration: none;
    font-style: normal;
    display: block;
    color: white;
    text-align: center;
    padding-right: 14px;
    text-decoration: none;

}

#header li a:hover {
    background-color: #111;
}

#header button:hover{
    background-color: #D2E9E9;
}

#header button:active{
    background-color: #C4DFDF;
}

#about-overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  
  .about-section {
    position: relative;
    width: 60%;
    height:60%;
    margin:10% auto;
    padding: 40px;
    background-color: white;
    border-radius: 20px;
    overflow: auto;
    scrollbar-width: none;
  }
  
  .about-section a {
    color: #424242; 
    text-decoration: underline; 
    font-size: 1.2em; 
    font-weight: bold;
  }
  .about-section li {
    margin-bottom: 20px;
  }
  .about-section h2 {
    margin-top: 20px;
  }
  .about-section h1 {
    margin-bottom: 20px; 
    margin-top: 20px;
  }
  
  